<h1 align="center">Engineering Request Form Login</h1>

<body>
<center><p>Username:</p></center>
<center><input type="text" name="username">
  <br></center>
<center><p>Password:</p></center>
<center><input type="text" name="password"></center>
	<br>
	<center><button type="button">Log In</button></center>

</body>

<div>
<img style="position: fixed; bottom:0;" src="http://r3.masstransitmag.com/files/base/MASS/image/2016/02/16x9/640x360/Logo_Schaffner_slogan2020.56ce0a5bacddd.jpg" height="200">
</div>

<style media="screen" type="text/css">

body{
padding-top: 100px;
}
div {
	display: block;
	margin-left: 38%;
	margin-right: 50%;
	
}
</style>



