<h1>Welcome#Sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<center><%= "Message from controller : #{@controller_message}"%></center>

<%= link_to("Go to Index", {:controller => 'welcome', :action => 'index'}) %>

<center><img style="position: fixed; bottom:0;" src="http://photos.prnewswire.com/prn/20110901/LA61098LOGO" align="center"></center>

